body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/**** Product list page *****/

.product-item > img {
  width: 100%
}


/**** Product details page ****/

.specs-table td:nth-child(1) {
  width: 40%
}

.product-option-container{
  margin-bottom: 20px;
}

.product-option {
  padding: 8px 15px;
  background-color: #EEE;
  cursor: pointer;
  margin-left: 20px;
  border: 1px solid #EEE;
}


.product-option:hover {
  border: 1px solid #999;
}